*{
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
h1{
    font-size:52px;
    font-weight: 80;
}
.contents1{
    font-size:20px;
    font-weight: lighter;
}
.contents2{
    font-size: 18px;
}
.contents3{
    font-size:14px;
    font-weight: 100;
}
.contents1_bold{
    font-size:18px;
    font-weight:bold;
}
.intro_bg{
    background-image:url("image/intro4.jpg");
    width: 100%;
    height:718px;
   background-position: center;
    background-size:cover; 
}
.searchArea{
    width:300px;
    height:40px;
    background:rgba(0.0.0.0.5);
    border-radius: 5px;
    margin-top: 24px;
}
.searchArea > form > input{
    border:none;
    width:250px;
    height:40px;
    background:rgba(0,0,0,0,0);
    color:#fff;
    padding-left:10px;
}
.searchArea > form > span{
    width: 50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
.header{
    display:flex;
    width:1280px;
    margin:auto;
    height:86px;
}
.nav{
    display:flex;
    justify-content: flex-end;
    line-height :86px;
    width:calc(1280px - 300px);
}
.nav >li{
    margin-left:84px;
}
.nav >li > a{
    color:#fff;
}
.intro_text{
    width:100%;
    margin:231px auto 231px auto;
    text-align: center;
}
.intro_text > h1,
.intro_text > h4{
    color:white;
}
/* mc_text0*/
.mc_text0{
    width: 100%;
    height: 601px;
    margin: top -132px;
    background: #f1f2f3;
}
.mc_text0 > h1{
    padding-top:116px;
    text-align: center;
}
.mc_text0 > .contents1{
    text-align: center;
}
.icons{
    display: flex;
    width:1280px;
    height:302px;
    margin:auto; 
}
.icons > li {
    flex: 1;
    background:white;
    height:302px;
    margin-top:52px;
    text-align: center;
}
.icons > li:not(:last-child){
    margin-right: 20px;
}
.icons > li > .icon_img{
    margin: 36px;
    transition: all 0.2s linear;
}
.icon_img:hover img {
    transform: scale(1.4);
  }
.icons .contents2{
    width:250px;
    margin:auto;
    letter-spacing: -2px;
}
/* mc_text01*/
.mc_text01{
    width:100%;
    height:659px;
    text-align: center;
}
.mc_text01 >h1{
    padding-top: 50px;
    text-align: center;
}
.mc_text01> .contents1{
    text-align: center;
}
.sqaud{
    width:1280px;
    display:flex;
    margin:49px auto;
    height:427px;
}
.sqaud > .contents2{
    padding: 20px;
}
.sqaud > .contents2 > h2{
    margin-bottom: 25px;
}
/*mc_text02*/
.mc_text02{
    width:100%;
    height:418px;
    background-image: url("image/contact.png")
}
.mc_text02 >ul{
    display:flex;
    padding-top:138px;
}
.mc_text02 > ul > li{
    flex:1;
    text-align:center;
}
.mc_text02 > ul > li > div,
.mc_text02 > ul > li > div > h1 {
    color:#fff;
}
footer{
    display:flex;
    background:#1f1f1f;
}
footer > div:first-child{
    flex:3;
    text-align:center;
    color:#fff;
}
footer > div:last-child{
    flex:9;
    color:#fff;
}
.iframe{
    margin:auto;
    text-align:center;
    background: #f1f2f3;
}
